version: 2.1

commands:
  install:
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "package-lock.json" }}
            - dependency-cache-
      - run: npm ci
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - node_modules

jobs:
  musicbox:
    working_directory: ~/repo
    docker:
      - image: circleci/node:lts
    steps:
      - install
      - run: node index.js

workflows:
  version: 2

  test:
    jobs:
      - musicbox

  poll:
    triggers:
      - schedule:
          cron: '*/5 * * * *'
          filters:
            branches:
              only:
                - master
    jobs:
      - musicbox
